#header {
  margin-top: 30px;
}

#header #instagram-logo {
  width: 100px;
  display: inline-block;
}

#header h1 {
  width: 240px;
  display: inline-block;
  margin-bottom: 20px;
}

#header div {
  text-align: center;
  margin-bottom: 20px;
}

.box {
  box-shadow: 10px 10px 14px -3px #333;
  border-radius: 22px;
  background: #fff;
  padding: 35px 40px;
  margin-bottom: 35px;
  min-height: 240px;
}

.box img {
  border: 5px double rgb(123, 206, 255);
  margin-bottom: 15px;
}

.box .followers-num {
  font-size: 35px;
  font-weight: 600;
}

.box .gap {
  font-size: 22px;
  margin-left: 12px;
  font-weight: 700;
}